<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blog content">
      <h1>About Us</h1>
      <h2>All Blog Posts</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim officiis
        magni possimus expedita libero quia adipisci vero, optio eaque doloribus
        cum ducimus dolor qui dicta mollitia consequatur at tempore dolores.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
